*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.muonTraModule{
    overflow: auto;
    margin: 0 10px;
}

.header{
    text-align :center;

}

.muonTra__header{
    background: url("C:\HUB\BÀI GIẢNG\Lập trình web\BÀI TẬP NHÓM\Module Mượn - Trả\Image\ảnh bài thư viện hub.jpg");
    background-size: cover;
    position: relative; /*xem lại*/
    background-color: rgb(64, 64, 243);

    
}
.library{
    object-position: 0% 75%;
    max-height: 150px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    /* border-radius: 10px; */

}

.logo{
    position: absolute;
    margin-top: 7px;
    margin-left: 10px;
    height: 150px;
    width: auto;
}

.NH { /*xem lại*/
    position: absolute; /* Đặt chữ lên trên ảnh */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Căn chỉnh chữ ở chính giữa */
    color: white;
}

.canhan
{
    display: flex;
    list-style: none;
    justify-content: space-between;
    position: absolute;  
    top: 10px;
    right: 10px;
    background-color: rgba(207, 207, 193, 0.5);
    border-radius: 3px;

    
}

.canhan li
{
    padding: 4px;
}

.canhan li a
{
    width: 5px;
    text-decoration: none;
    color: black;
}

.separate::after
{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: red;
}

.muonTra__container
{
    
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    min-height: 100vh;
}

.navBar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(64, 64, 243);
    padding-bottom: 2px;
    position: relative;
}

.navBar li{
    list-style: none; 
    padding: 5px 30px 5px 30px;

}

.navBar li a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size:20px;
    color: white;

}

.navBar li a:hover,
.navBar li a.active{
    width: 100%;
    height: 100%;
    color: yellow;
    /* background-size: contain;
    background-color: white;
    color: black;   */
}

.show{
    width: 100%;
    height: auto;
    border-spacing: 5px;
}

.search{
    width: 100%;
    height: auto;
    padding: 5px;
}

.search tr td
{
    padding: 5px;
}

.search tr td input
{   
    border-width: thin;
    border-radius: 5px;
}

.button
{
    margin-top: auto;
    border-width: 1px; 
    border-radius: 5px; 
    padding: 2px;
    background-color: rgb(186, 185, 185);
}

/* Footer */

.muonTra__footer{
    border-top: 4px solid rgb(34, 34, 141);
    color: white;
    background-color: rgb(64, 64, 243);
    text-align: center;
    position: sticky;
    bottom: 0;
    margin-top: auto; 
    border-radius: 10px;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 5px;
}

.grid_row{
    display: flex;
    flex-wrap: wrap;
}

.grid_coloumn{
    padding-right: 5px;
    padding-left: 5px;
    width: 25%;
    text-align: left;
}

.footer-item{
    padding: 2px;
    text-decoration: none;
    font-size: small;
    list-style: none;

}

.footer-item_icon
{
    font-size: small;
    margin-left: -4px;
    margin-right: 6px;
}

.infor
{
    display: grid;
    background-color: rgb(34, 34, 141);
    color: white;
    
}

.infor tr td
{
    font-size: small;
    font-style: italic;

}